{% extends 'base.html.twig' %}

{% block title %}Liste des produits
{% endblock %}

{% block body %}

{{ form_start(formRecherche) }}

{{ form_widget(formRecherche.recherche, {
	attr: {
		placeholder: "Recherchez un produit"
	}
}) }}

<button type="submit" class="btn btn-primary mt-2">Rechercher</button>
<input type="button" value="Remise à zéro" onClick="location.href=location.href" class="btn btn-primary mt-2" >

{{ form_end(formRecherche) }}

	<h1 class="text-center my-3">Liste des produits</h1>
	<div class="row">

		{% for produit in produits %}

			<div class="col-md-4">
				<div class="card cardindex mb-4" >
					<h3 class="card-header">{{ produit.nom }}</h3>
					<img src="{{ produit.image }}" class="imageindex" alt="Image du produit">
					<p>Publié par {{ produit.userId.username }}</p>
					<p>Catégorie : {{ produit.categorieId.titre }}</p>
					<div class="card body">
						<p class="card-text text-end fw-bold">{{ produit.prix }}$</p>
					</div>
					<div class="card-body text-end">
                    <a href="{{ path('show_product', {id: produit.id}) }}" class="card-link btn">voir</a>
					<a href="{{ path('cart_add', {id: produit.id}) }} " class="card-link btn btn-primary">Ajouter au panier</a>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}